<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="routine">
	<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	 <title>Exam routine with angular JS</title>
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
	 <script src="js/controller.js"></script>
	 <script src="js/model.js"></script>
	 <script src="js/routine.js"></script>
	 <script src="js/services.js"></script>
	</head>
  <body ng-controller="RouteController">
    <h3>{{title}}</h3>
    <ul>
      <li><a ng-click="setRoute('home')">Home</a></li>
      <li><a ng-click="setRoute('about')">about</a></li>
      <li><a ng-click="addRoutine()">Add</a></li>
    </ul>
    <div ng-view></div>
  </body>
</html>